body {
    position: relative;
}

/*================= 헤더 =================*/
.pc_header{
    height: 80px;
    padding: 14px 24px 12px 40px;
    background: linear-gradient(to right, #004F60, #350039);
    display: flex;
    justify-content: space-between;
}

.pc_header .logo{
    width: 46px;
    height: 32px;
    margin: 12px 0;
    vertical-align: middle;
}

.pc_header .logo img{
    width: 100%;
    height: 100%;
}

.pc_header .header_title{
    margin-right: 400px;
}

.pc_header .header_title h1{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.pc_header .header_title h3{
    font-size: 12px;
    color: #fff;
}

.pc_header .search_container{
    width: 640px;
    height: 40px;
    margin-top: 8px;
    border-radius: 4px;
    background-color: #fff;
    vertical-align: middle;
}

.pc_header .search_container input{
    width: 580px;
    height: 40px;
    padding: 4px 0 4px 16px;
    background-color: #fff;
    border-radius: 4px;
}

.pc_header .search_container input::placeholder{
    font-size: 14px;
    font-weight: 500;
    color: #ccc;
}

.pc_header .search_container .btn_search{
    width: 48px;
    height: 32px;
    border-radius: 4px;
    background-color: #eee;
}

.pc_header .search_container .btn_search.on{
    background: #007A94;
}

.pc_header .search_container .btn_search.on img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(53deg) brightness(103%) contrast(101%);
}

.pc_header .btn_logout{
    width: 133px;
    height: 32px;
    margin: 12px;
    padding: 6px 7px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    background: none;
    border: 1px solid #fff;
}

.pc_header .btn_logout:hover{
    background-color: rgba(0, 0, 0, 0.3);
}


/*================= 푸터 =================*/
#footer{
    width: 360px;
    margin: 0 auto;
}

#footer .copyright{
    font-size: 12px;
    color: #000;
}


.nav{
    width: 60px;
    padding: 40px 0;
    background-color: #222;
}

.nav .list{
    height: 72px;
    padding: 22px 10px;
    border-radius: 0 8px 8px 0;
}

.nav .list img{
    margin: 0 auto;
    display: block;
}

.nav .list span{
    display: block;
    font-size: 10px;
    color: #888;
    text-align: center;
}

.nav .list.on{
    width: 65px;
    background: linear-gradient( to right ,#007A94, #003D4A);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.nav .list.on span{
    color: #fff;
}

.nav .list:hover{
    width: 65px;
    background: linear-gradient( to right ,#007A94, #003D4A);
    transition:  all 0.7s ease-out;
}

.nav .list:hover span{
    color: #fff;
}



/*====================== 간호사 팝업 ======================*/
/* 로그아웃 팝업 */
.pop.logout{
    width: 304px;
    height: 104px;
    padding:32px 28px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 72px;
    right: 34px;
    display:none;
}

.pop.logout .wrap_inner{
    display: flex;
}

.pop.logout .wrap_inner div p{
    font-size: 12px;
}

.pop.logout .wrap_inner div h3{
    font-size: 16px;
}

.pop.logout .wrap_inner .btn_bye{
    width: 96px;
    height: 40px;
    padding: 10px 0;
    margin-left: 23px;
    font-size: 14px;
    color: #940045;
    border: 1px solid #940045;
    border-radius: 4px;
    background: none;
}

.pop.logout .wrap_inner .btn_bye:hover{
    color: #fff;
    background: #940045;
}

/* 병동생성 팝업 */
.pop .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    overflow: hidden !important;
    touch-action: none !important;

    display: none;
    z-index: 100;
}

.pop .overlay .pop_cont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 480px;
    padding: 32px;
    border-radius: 8px;
    background: #fff;
    transform: translate(-50%, -50%);
}

.pop .overlay .pop_cont .title{
    padding-bottom: 15px;
    border-bottom: 1px solid #007A94;
}

.pop .overlay .pop_cont .title h2{
    color: #007A94;
} 

.pop .overlay .pop_cont .content{
    padding: 31px 0 0;
    display: flex;
}

.pop .overlay .pop_cont .content p{
    width: 52px;
    margin: 10px 64px 0 0;
    font-size: 14px;
    vertical-align: middle;
}

.pop .overlay .pop_cont .content input{
    width: 420px;
    height: 48px;
    padding: 14px 16px;
    border-radius: 4px;
    background: #eee;
    font-size: 14px;
    vertical-align: middle;
}

.pop .overlay .pop_cont .btn_list{
    position:absolute;
    bottom: 32px;
    right: 32px;
}

.pop .overlay .pop_cont .btn_list .btn_cancel{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border:1px solid #940045;
    background: none;
    font-size: 14px;
    color: #940045;
}

.pop .overlay .pop_cont .btn_list .btn_check{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border:1px solid #007A94;
    background: #007A94;
    font-size: 14px;
    color: #fff;
}

/* 병실생성 팝업 */
.selectBox2 * { box-sizing: border-box; }
.selectBox2 {
    position: relative;
    width: 120px;
    height: 48px;
    border-radius: 4px;
    background: #eee;
    cursor: pointer;
}

.selectBox2:after {
    content: ''; 
    width: 12px;
    height: 6px; 
    position: absolute; 
    background: url('../img/under_arrow.svg') no-repeat;
    top: 50%; 
    right: 20px;
}

.selectBox2 .label {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.selectBox2 .label2 {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.selectBox2 .optionList {
    width: 100%;
    position: absolute; 
    top: 48px;
    left: 0;
    font-size: 14px;
    font-weight: normal;
    background: #eee;
    color: #000;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

.selectBox2 .optionList2 {
    width: 100%;
    position: absolute; 
    top: 48px;
    left: 0;
    font-size: 14px;
    font-weight: normal;
    background: #eee;
    color: #000;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

.selectBox2.active .optionList {
    max-height: 500px;
}

.selectBox2.active .optionList2 {
    max-height: 500px;
}
.selectBox2 .optionItem {
    padding: 5px 15px 5px;
    transition: .1s;
}

.selectBox2.active .optionList> :first-child{
    border-top: 1px solid #007A94;
}

.selectBox2 .optionlist> :last-child {
    border-radius:4px;
}

/* 삭제 팝업*/
.pop.delete .pop_cont{
    width: 600px;
    height: 360px;
    padding: 64px 0 48px;
    text-align: center;
}

.pop.delete .pop_cont> div{
    width: 46px;
    height: 32px;
    margin: 0 auto;
}

.pop.delete .pop_cont> div img{
    width: 100%;
}

.pop.delete .pop_cont h3{
    margin: 48px 0 8px;
    font-size: 16px;
}

.pop.delete .pop_cont h2{
    font-size: 24px;
    color: #940045;
}

.pop.delete .pop_cont .btn_list{
    width: 400px;
    bottom: 64px;
    left: 27px;
    font-size: 16px;
}

.pop.delete .pop_cont .btn_list .btn_no{
    width: 128px;
    height: 48px;
    margin-right: 16px;
    border-radius: 4px;
    background: #eee;
    color: #888;
}

.pop.delete .pop_cont .btn_list .btn_no:hover{
    background: #CCC;
}

.pop.delete .pop_cont .btn_list .btn_cut{
    width: 128px;
    height: 48px;
    border-radius: 4px;
    background: #940045;
    color: #fff;
}

.pop.delete .pop_cont .btn_list .btn_cut:hover{
    background: #4A0000;
}

/* 환자 검색 팝업 */
.pop.search_patient{
    width: 640px;
    height: 192px;
    padding: 32px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 72px;
    right: 217px;
    display: none;
}

.pop.search_patient .wrap_inner p{
    font-size: 14px;
    margin-bottom: 16px;
    cursor: pointer;
}

.pop.search_patient .wrap_inner :last-child{
    margin: 0;
}

/* 장치등록 팝업 */
.pop.regi_device .selectBox2,
.pop.re_device .selectBox2{
    width: 420px;
}

.pop.regi_device .selectbox .label{
    width: 100%;
    height: 48px;
    padding: 14px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    position: relative;
}

.pop.regi_device .selectbox .label::after{
    content: ''; 
    width: 12px;
    height: 6px; 
    position: absolute; 
    background: url('../img/under_arrow.svg') no-repeat;
    top: 50%; 
    right: 20px;
}

.pop.regi_device .selectbox .select_list{
    border:1px solid #ccc;
    border-radius: 4px;
}

.pop.regi_device .selectbox .select_list .label{
    background: #fff;
}

.pop.regi_device .selectbox .select_list .label::after{
    content: ''; 
    width: 12px;
    height: 6px; 
    position: absolute; 
    background: url('../img/under_arrow.svg') no-repeat;
    top: 50%; 
    right: 20px;
    transform: rotate(180deg);
}

.pop.regi_device .selectbox .select_list div{
    width: 100%;
    padding:0 16px;
}

.pop.regi_device .selectbox .select_list p{
    width: 100%;
}

.pop.regi_device .selectbox .select_list div ul{
    border-top: 1px solid #eee;
    padding: 14px 0;
}

.pop.regi_device .overlay .pop_cont .content p,
.pop.re_device .overlay .pop_cont .content p{
    width: 80px;
    margin-right: 30px;
}

.pop.regi_device small,
.pop.re_device small{
    margin-top: 8px;
    margin-left: 112px;
    font-size: 12px;
    color: #940045;
}

/* 장치반납 */
.pop.re_device .overlay .pop_cont .title h2{
    color: #940045;
}

.pop.re_device .overlay .pop_cont .title {
    border-bottom: 1px solid #940045;
}
