body {
    position: relative;
}

#wrap_content{
    height: 100vh;
    display: flex;
}

/*================= 헤더 =================*/
.pc_header{
    min-width: 1880px;
    height: 80px;
    padding: 14px 24px 12px 40px;
    background: linear-gradient(to right, #004F60, #350039);
    display: flex;
    justify-content: space-between;
}

.pc_header .header_inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pc_header.emer{
    min-width: 1880px;
    height: 80px;
    padding: 14px 24px 12px 40px;
    background: linear-gradient(to right, #940045, #4A0000);
}

.pc_header .header_inner> div{
    z-index: 99;
    display: flex;
}

.pc_header .logo{
    width: 46px;
    height: 32px;
    margin: 12px 30px 12px 0;
    vertical-align: middle;
}

.pc_header .logo img{
    width: 100%;
    height: 100%;
}

.pc_header .header_title{
    /* margin-right: 370px; */
}

.pc_header .header_title h1{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.pc_header .header_title h3{
    font-size: 12px;
    color: #fff;
}

.pc_header .search_container{
    width: 640px;
    height: 40px;
    margin-top: 8px;
    border-radius: 4px;
    vertical-align: middle;
    position: relative;
}

.pc_header .search_container input{
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px 0 4px 16px
}

.pc_header .search_container input::placeholder{
    font-size: 14px;
    font-weight: 500;
    color: #ccc;
}

.pc_header .search_container .btn_search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -4px;
    width: 48px;
    height: 32px;
    margin-right: 16px;
    border-radius: 4px;
    background-color: #eee;
}

.pc_header .search_container .btn_search.on{
    background: #007A94;
}

.pc_header .search_container .btn_search.on img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(53deg) brightness(103%) contrast(101%);
}

.pc_header .btn_logout{
    width: 133px;
    height: 32px;
    margin: 12px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    background: none;
    border: 1px solid #fff;
}

.pc_header .btn_logout:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.pc_header .patient_view{
    margin-right: 30px;
}

.pc_header .patient_view button{
    width: 144px;
    height: 40px;
    margin: 8px 8px 0 0;
    border-radius: 4px;
    color: #eee;
    background: #aaa
}

.pc_header .patient_view button.on{
    color: #007A94;
    background-color: #fff;
}


/*================= 푸터 =================*/
#footer{
    width: 360px;
    margin: 0 auto;
}

#footer .copyright{
    font-size: 12px;
    color: #000;
}


.nav{
    width: 60px;
    padding: 40px 0;
    background-color: #222;
}

.nav .list{
    height: 72px;
    padding: 22px 10px;
    border-radius: 0 8px 8px 0;
}

.nav .list img{
    margin: 0 auto;
    display: block;
}

.nav .list span{
    display: block;
    font-size: 10px;
    color: #888;
    text-align: center;
}

.nurse .nav .list.on{
    width: 65px;
    background: linear-gradient( to right ,#007A94, #003D4A);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.nav .list.on span{
    color: #fff;
}

.nurse .nav .list:hover{
    width: 65px;
    background: linear-gradient( to right ,#007A94, #003D4A);
    transition:  all 0.7s ease-out;
}

.nav .list:hover span{
    color: #fff;
}

.emergency .nav .list.on{
    width: 65px;
    background: linear-gradient( to right ,#940045, #4A0000);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.nav .list:hover{
    width: 65px;
    background: linear-gradient( to right ,#940045, #4A0000);
    transition:  all 0.7s ease-out;
}



/*====================== 간호사 팝업 ======================*/
/* 로그아웃 팝업 */
.pop.logout{
    width: 304px;
    height: 104px;
    padding:32px 28px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 72px;
    right: 34px;
    display:none;
}

.pop.logout .wrap_inner{
    display: flex;
}

.pop.logout .wrap_inner div p{
    font-size: 12px;
}

.pop.logout .wrap_inner div h3{
    font-size: 16px;
}

.pop.logout .wrap_inner .btn_bye{
    width: 96px;
    height: 40px;
    padding: 10px 0;
    margin-left: 23px;
    font-size: 14px;
    color: #940045;
    border: 1px solid #940045;
    border-radius: 4px;
    background: none;
}

.pop.logout .wrap_inner .btn_bye:hover{
    color: #fff;
    background: #940045;
}

/* 병동생성 팝업 */
.pop .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    overflow: hidden !important;
    touch-action: none !important;

    display: none;
    z-index: 100;
}

.pop .overlay .pop_cont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 480px;
    padding: 32px;
    border-radius: 8px;
    background: #fff;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.pop .overlay .pop_cont .title{
    padding-bottom: 15px;
    border-bottom: 1px solid #007A94;
}

.pop .overlay .pop_cont .title h2{
    color: #007A94;
} 

.pop .overlay .pop_cont .content{
    padding: 31px 0 0;
    display: flex;
}

.pop .overlay .pop_cont .content p{
    width: 52px;
    margin: 10px 64px 0 0;
    font-size: 14px;
    vertical-align: middle;
}

.pop .overlay .pop_cont .content input{
    width: 420px;
    height: 48px;
    padding: 14px 16px;
    border-radius: 4px;
    background: #eee;
    font-size: 14px;
    vertical-align: middle;
}

.pop .overlay .pop_cont .btn_list{
    position:absolute;
    bottom: 32px;
    right: 32px;
}

.pop .overlay .pop_cont .btn_list .btn_cancel{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border:1px solid #940045;
    background: none;
    font-size: 14px;
    color: #940045;
}

.pop .overlay .pop_cont .btn_list .btn_check{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border:1px solid #007A94;
    background: #007A94;
    font-size: 14px;
    color: #fff;
}

/* 병실생성 팝업 */
.selectBox2 * { box-sizing: border-box; }
.selectBox2 {
    position: relative;
    width: 120px;
    height: 48px;
    border-radius: 4px;
    background: #eee;
    cursor: pointer;
}

.selectBox2.active{
    background: #fff;
    border:1px solid #ccc;
    border-bottom: 1px solid #fff;
    border-bottom-right-radius:0px;
    border-bottom-left-radius: 0;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}


.selectBox2.on .optionList{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: 0;
}

.selectBox2:after {
    content: ''; 
    width: 12px;
    height: 6px; 
    position: absolute; 
    background: url('../img/under_arrow.svg') no-repeat;
    top: 50%; 
    right: 20px;
    transition: 0.3s;
}

.selectBox2.on:after{
    content: ''; 
    width: 12px;
    height: 6px; 
    position: absolute; 
    background: url('../img/under_arrow.svg') no-repeat;
    top: 50%; 
    right: 20px;
    transform: rotate(180deg);
    transition: .3s;
}

.selectBox2 .label {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    color: #000;
}

.selectBox2 .label2 {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.selectBox2 .optionList {
    width: 420px;
    position: absolute; 
    top: 46px;
    left: -1px;
    font-size: 14px;
    font-weight: normal;
    background: #fff;
    border:1px solid #ccc;
    color: #000;
    overflow: hidden;
    max-height: 0;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.selectBox2 .optionList2 {
    width: 100%;
    position: absolute; 
    top: 48px;
    left: 0;
    font-size: 14px;
    font-weight: normal;
    background: #eee;
    color: #000;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

.selectBox2.active .optionList {
    max-height: 500px;
}

.selectBox2.active .optionList2 {
    max-height: 500px;
}
.selectBox2 .optionItem {
    padding: 5px 15px 5px;
    transition: .1s ease-in-out;
}

.selectBox2 .optionlist> :last-child {
    border-radius:4px;
}

/* 삭제 팝업*/
.pop.delete .pop_cont{
    width: 600px;
    height: 360px;
    padding: 64px 0 48px;
    text-align: center;
}

.pop.delete .pop_cont> div{
    width: 46px;
    height: 32px;
    margin: 0 auto;
}

.pop.delete .pop_cont> div img{
    width: 100%;
}

.pop.delete .pop_cont h3{
    margin: 48px 0 8px;
    font-size: 16px;
}

.pop.delete .pop_cont h2{
    font-size: 24px;
    color: #940045;
}

.pop.delete .pop_cont .btn_list{
    width: 400px;
    bottom: 64px;
    left: 27px;
    font-size: 16px;
}

.pop.delete .pop_cont .btn_list .btn_no{
    width: 128px;
    height: 48px;
    margin-right: 16px;
    border-radius: 4px;
    background: #eee;
    color: #888;
}

.pop.delete .pop_cont .btn_list .btn_no:hover{
    background: #CCC;
}

.pop.delete .pop_cont .btn_list .btn_cut{
    width: 128px;
    height: 48px;
    border-radius: 4px;
    background: #940045;
    color: #fff;
}

.pop.delete .pop_cont .btn_list .btn_cut:hover{
    background: #4A0000;
}

/* 환자 검색 팝업 */
.pop.search_patient{
    width: 640px;
    height: 192px;
    padding: 32px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 72px;
    right: 180px;
    display: none;
    z-index: 99;
}

.pop.search_patient .wrap_inner p{
    font-size: 14px;
    margin-bottom: 16px;
    cursor: pointer;
}

.pop.search_patient .wrap_inner :last-child{
    margin: 0;
}

/* 장치등록 팝업 */
.pop.regi_device .selectBox2,
.pop.re_device .selectBox2{
    width: 420px;
}

.pop.regi_device .selectbox .label{
    width: 100%;
    height: 48px;
    padding: 14px 16px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    position: relative;
}

.pop.regi_device .selectbox .label::after{
    content: ''; 
    width: 12px;
    height: 6px; 
    position: absolute; 
    background: url('../img/under_arrow.svg') no-repeat;
    top: 50%; 
    right: 20px;
}

.pop.regi_device .selectbox .select_list{
    border:1px solid #ccc;
    border-radius: 4px;
}

.pop.regi_device .selectbox .select_list .label{
    background: #fff;
}

.pop.regi_device .selectbox .select_list .label::after{
    content: ''; 
    width: 12px;
    height: 6px; 
    position: absolute; 
    background: url('../img/under_arrow.svg') no-repeat;
    top: 50%; 
    right: 20px;
    transform: rotate(180deg);
}

.pop.regi_device .selectbox .select_list div{
    width: 100%;
    padding:0 16px;
}

.pop.regi_device .selectbox .select_list p{
    width: 100%;
}

.pop.regi_device .selectbox .select_list div ul{
    border-top: 1px solid #eee;
    padding: 14px 0;
}

.pop.regi_device .overlay .pop_cont .content p,
.pop.re_device .overlay .pop_cont .content p{
    width: 80px;
    margin-right: 30px;
}

.pop.regi_device small,
.pop.re_device small{
    margin-top: 8px;
    margin-left: 112px;
    font-size: 12px;
    color: #940045;
}

/* 장치반납 */
.pop.re_device .overlay .pop_cont .title h2{
    color: #940045;
}

.pop.re_device .overlay .pop_cont .title {
    border-bottom: 1px solid #940045;
}


/* resp setting menu */
.pop.setting_menu input{
    display: none;
}

.pop.setting_menu .overlay .content{
    display: block;
}

.pop.setting_menu .content div> p{
    display: inline-block;
}


/* 혈압 수동입력 */
.pop.arteriotony_regi .overlay .pop_cont{
    width: 600px;
    height: 360px;
    padding: 64px 0 48px;
}

.pop.arteriotony_regi .overlay .pop_cont div{
    width: 46px;
    height: 32px;
    margin: 0 auto 48px;
}

.pop.arteriotony_regi .overlay .pop_cont div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pop.arteriotony_regi .overlay .pop_cont h3{
    margin-bottom: 8px;
    font-size: 16px;
    text-align: center;
    color: #000;
}

.pop.arteriotony_regi .overlay .pop_cont h1{
    margin-bottom: 48px;
    font-size: 24px;
    text-align: center;
    color: #007A94;
}

.pop.arteriotony_regi .overlay .pop_cont .btn_check{
    width: 272px;
    height: 48px;
    margin: 0 auto;
    background-color: #007A94;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    display: block;
}

/* 담당의에게 메세지 보내기 */
.pop.send_doctor .overlay .pop_cont{
    width: 1216px;
    height: 600px;
    padding: 24px 16px 72px;
    background-color: #eee;
    position: relative;
}

.pop.send_doctor .overlay .pop_cont .title{
    border-bottom: 0;
}

.pop.send_doctor .overlay .pop_cont .title h1{
    font-size: 20px;
    color: #007A94;
}

.pop.send_doctor .overlay .pop_cont .container{
    display: flex;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .select_list{
    width: 360px;
    height: 120px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #fff;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .select_list> div p{
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .select_list> div button{
    background: none;
    display: inline-block;
    vertical-align: middle;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .select_list> div button img{
    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list{
    width: 360px;
    height: 320px;
    padding: 8px;
    margin-top: 16px;
    border-radius: 4px;
    background: #fff;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list h2{
    margin-bottom: 15px;
    font-size: 12px;
    color: #007A94;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list> div{
    padding: 0 20px 0 8px;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list .group{
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #007A94;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list .group> div{
    display: flex;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list .group> div> div{
    width: 72px;
    height: 40px;
    padding: 12px 0;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list .group> div> div p{
    font-size: 12px;
    text-align: center;
    color: #888;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list .group .group_list{
    cursor: pointer;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list .group .group_list.on{
    background-color: #007A94;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list .group .group_list.on p{
    color: #fff;
}


.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list .group button{
    width: 36px;
    height: 40px;
    padding: 12px 0 0;
    background: none;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list .group> :last-child{
    padding-top: 12px;
    cursor: pointer;
}

.pop.send_doctor .overlay .pop_cont .doctor_select .favorite_list .group> div> p{
    font-size: 12px;
    color: #007A94;
}

.pop.send_doctor .overlay .pop_cont .doctor_search{
    width: 392px;
    height: 456px;
    padding: 16px;
    margin: 0 16px;
    background: #fff;
    border-radius: 4px;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .search_container{
    width: 360px;
    height: 40px;
    padding: 4px 4px 4px 8px;
    margin-bottom: 36px;
    border-radius: 4px;
    border: 1px solid #007A94;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .search_container input{
    width: 85%;
    height: 30px;
    padding-top: 5px;
    font-size: 14px;
    text-align: left;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .search_container input::placeholder{
    font-size: 14px;
    color: #ccc;
    float: left;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .search_container button{
    width: 48px;
    height: 32px;
    padding: 4px 0 0 0;
    border-radius: 4px;
    background-color: #ccc;
    float: right;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .search_container::after{
    content: '';
    display: block;
    clear: both;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list{
    height: 348px;
    overflow-y: scroll;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list::-webkit-scrollbar{
    width: 4px;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list::-webkit-scrollbar-thumb{
    height: 17%;
    border-radius: 10px;
    background: #ccc;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list p{
    margin-right: 15px;
    font-size: 12px;
    display: inline-block;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list input[type="checkbox"]+label> span{
    margin-top: 3px;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list input[type="checkbox"]+label> span{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -10px 15px 0 0;
    vertical-align: middle;
    background: url('../img/icon/checkbox.png') no-repeat 0 0px / contain;
    cursor: pointer;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list input[type='checkbox']:checked+label span{
    background: url('../img/icon/checkbox_check.png') no-repeat 0 0px / contain;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list input[type="checkbox"]{
    display: none;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list .favorite_container{
    display: inline-block;
    float: right;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list .favorite_container::after{
    content: '';
    display: block;
    clear: both;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list .favorite_container input[type="checkbox"]+label> span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: -10px 15px 0 0;
    vertical-align: middle;
    background: url('../img/icon/즐겨찾기.png') no-repeat 0 0px / contain;
    transition: .3s;
    cursor: pointer;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list .favorite_container input[type='checkbox']:checked+label span{
    background: url('../img/icon/즐겨찾기추가.png') no-repeat 0 0px / contain;
    transition: .3s;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list> div{
    margin-bottom: 16px;
}

.pop.send_doctor .overlay .pop_cont .doctor_search .doctor_list> :last-child{
    margin: 0;
}

.pop.send_doctor .overlay .pop_cont .input_message{
    width: 400px;
    height: 360px;
}

.pop.send_doctor .overlay .pop_cont .input_message textarea{
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 4px;
}

.pop.send_doctor .overlay .pop_cont .input_message textarea::placeholder{
    font-size: 14px;
    font-weight: normal;
    color: #ccc;
}

.pop.send_doctor .overlay .pop_cont .input_message .btn_list{
    position: initial;
    margin-top: 56px;
    float: right;
}

.pop.send_doctor .overlay .pop_cont .input_message .btn_list::after{
    content: '';
    display: block;
    clear: both;
}

.pop.send_doctor .overlay .pop_cont .input_message .btn_list .btn_cancel{
    width: 96px;
    background: #fff;
}

.pop.send_doctor .overlay .pop_cont .input_message .btn_list .btn_send{
    width: 96px;
    height: 40px;
    background: #ccc;
    border-radius: 4px;
    color: #888;
}

.pop.send_doctor .overlay .pop_cont .btn_exit{
    position: absolute;
    top: 16px;
    right: 16px;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .group_container{
    height: 175px;
    overflow-y: scroll;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .group_container::-webkit-scrollbar{
    width: 4px;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .group_container::-webkit-scrollbar-thumb{
    height: 17%;
    border-radius: 10px;
    background: #ccc;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .group_container> div{
    margin-bottom: 8px;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .group_container p{
    display: inline-block;
    font-size: 12px;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .group_container input[type="checkbox"]+label> span{
    margin-top: 3px;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .group_container input[type="checkbox"]+label> span{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -10px 15px 0 0;
    vertical-align: middle;
    background: url('../img/icon/checkbox.png') no-repeat 0 0px / contain;
    cursor: pointer;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .group_container input[type='checkbox']:checked+label span{
    background: url('../img/icon/checkbox_check.png') no-repeat 0 0px / contain;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .group_container input[type="checkbox"]{
    display: none;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .group_container input[type="checkbox"]:disabled + label{
    color: gray;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .group_container input[type="checkbox"]:disabled + label span{
    background: url('../img/icon/check_disabled.png') no-repeat 0 0px / contain;
}


.pop.send_doctor .overlay .pop_cont .favorite_list .favorite_container input[type="checkbox"]+label> span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: -10px 15px 0 0;
    vertical-align: middle;
    background: url('../img/icon/즐겨찾기.png') no-repeat 0 0px / contain;
    transition: .3s;
    cursor: pointer;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .favorite_container input[type='checkbox']:checked+label span{
    background: url('../img/icon/즐겨찾기추가.png') no-repeat 0 0px / contain;
    transition: .3s;
}

.pop.send_doctor .overlay .pop_cont .favorite_list .favorite_container{
    display: inline-block;
    float: right;
}
