/*================= 로그인 =================*/
.main .wrap_inner{
    width: 360px;
    margin: 0 auto;
    padding: 240px 0;
}

.main .logo{
    width: 138px;
    height: 96px;
    margin: 0 auto 50px;
}

.main .logo img{
    width: 100%;
    height: 100%;
}

.main .login{
    width: 360px;
} 

.main .login .input_container input{
    width: 100%;
    height: 48px;
    margin-bottom:16px;
    padding: 14px 16px;
    border-radius: 4px;
    background-color: #eee;
    font-size: 14px;
}

.main .check label{
    vertical-align: middle;
}

.main .check label input[type="checkbox"]{
    background-color: #007A94;
    vertical-align: middle;
}

.main .login button{
    width: 176px;
    height: 48px;
    margin: 64px auto 0;
    border-radius: 4px;
    background: linear-gradient(to right, #004F60, #350039);
    color: #fff;
    display: block;
}

/*================= 간호사 =================*/
/* 메인 */
.nurse{
    display: flex;
    background-color: #eee;
}

.nurse .wrap_inner{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.nurse section{
    border-radius: 8px;
    background-color: #fff;
}

.nurse .management{
    width: 360px;
    height: 100vh;
    padding: 16px;
}

.nurse .management .title> div{
    margin-bottom: 13px;
}

.nurse .management .title> div h2{
    font-size: 16px;
    color: #007A94;
    display: inline-block;
    vertical-align: middle;
}

.nurse .management .title> div> div{
    width: 16px;
    height: 16px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.nurse .management .title> div> div img{
    width: 100%;
    height: 100%;
    filter:invert(39%) sepia(74%) saturate(6980%) hue-rotate(174deg) brightness(90%) contrast(101%);
}

.nurse .management .title p{
    font-size: 12px;
    color: #444;
}

.nurse .management .management_list{
    padding: 16px;
    margin-top: 16px;
    border-top: 1px solid #eee;
}

.nurse .management .management_list .list{
    width: 296px;
    height: 48px;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.nurse .management .management_list .list:hover{
    background: #eee;
    cursor: pointer;
}

.nurse .management .management_list .list p{
    font-size: 12px;
    vertical-align: middle;
}

.nurse .management .management_list .list div{
    width: 6px;
    height: 12px;
    vertical-align: middle;
}

.nurse .management .management_list .list.on div img{
    width: 100%;
    height: 100%;
}

.nurse .management .management_list .list.on{
    background-color: #007A94;
    color: #fff;
}

.nurse .management .management_list .list.off{
    border-bottom: 1px solid #eee;
}

.nurse .management .management_list .list.off div img{
    filter: invert(67%) sepia(2%) saturate(15%) hue-rotate(342deg) brightness(91%) contrast(87%);
}

/* 병동관리 */
.nurse .left{
    width: 640px;
    padding: 16px;
}

.nurse .left .title,
.nurse .right .title{
    border-bottom: 1px solid #eee;
    padding: 8px 15px 26px;
}

.nurse .left .title div,
.nurse .right .title div{
    display: flex;
    justify-content: space-between;
}


.nurse .left .title h2,
.nurse .right .title h2{
    margin-top: 7px;
    font-size: 16px;
    font-weight: 500;
    color: #007A94;
    vertical-align: middle;
}

.nurse .btn_new_ward,
.nurse .btn_new_device,
.nurse .btn_use_device{
    width: 96px;
    height: 40px;
    background: none;
    border-radius: 4px;
    border:1px solid #007A94;
    font-size: 14px;
    color: #007A94;
    vertical-align: middle;
}

.nurse .left .title p,
.nurse .right .title p{
    font-size: 12px;
    color: #444;
}

.nurse .left .cont,
.nurse .right .cont{
    padding: 16px;
    font-size: 12px;
    display: none;
}

.nurse .left .cont .ward_list,
.nurse .right .cont .ward_list{
    padding: 8px 16px;
    border-bottom: 1px solid #eee;
    display: flex;
}

.nurse .left .cont .ward_list:hover,
.nurse .right .cont .ward_list:hover{
    background: #eee;
    cursor: pointer;
}

.nurse .left .cont .ward_list .on{
    background: #007A94;
    color: #fff;
}

.nurse .left .cont .ward_list.on{
    background: #007A94;
    color: #fff;
}

.nurse .left .cont .ward_list> p{
    margin-top: 8px;
    margin-right: 84px;
}

.nurse .left .cont .ward_list .ward_count{
    display: flex;
}

.nurse .left .cont .ward_list .ward_count p,
.nurse .right .cont .ward_list .ward_count p{
    margin-right: 24px;
    margin-top: 6px;
}

.nurse .left .cont .ward_list .ward_count span,
.nurse .right .cont .ward_list .ward_count span{
    color: #007A94;
}

.nurse .left .cont .ward_list.on .ward_count span{
    color: #fff;
}

.nurse .left .cont .ward_list .btn_list button,
.nurse .right .cont .ward_list .btn_list button{
    width: 56px;
    height: 32px;
    padding: 4px 0;
    background: none;
    border-radius: 4px;
}

.nurse .left .cont .ward_list .btn_list .btn_modify,
.nurse .right .cont .ward_list .btn_list .btn_modify{
    margin:0 6px 0 24px;
    border:1px solid #007A94;
    color: #007A94;
}

.nurse .hospital_room .cont .ward_list .btn_list .btn_modify{
    margin: 0 6px 0;
}

.ward .cont .ward_list .btn_list .btn_delete,
.hospital_room .cont .ward_list .btn_list .btn_delete{
    border: 1px solid #940045;
    color: #940045;
}

.ward .cont .ward_list.on .btn_list .btn_modify{
    margin:0 6px 0 24px;
    border: 0;
    background: #fff;
}

.ward .cont .ward_list.on .btn_list .btn_delete{
    background: #fff;
    border: 0;
}

.ward .cont .ward_list.on img{
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
}

.ward .cont .ward_list> :last-child{
    width: 6px;
    height: 12px;
    margin: 11px 0 0 20px;
}

.ward .cont .ward_list img{
    width: 100%;
    height: 100%;
    filter: invert(67%) sepia(2%) saturate(15%) hue-rotate(342deg) brightness(91%) contrast(87%);
}


/* 병실관리 */
.nurse .right{
    width: 640px;
    margin-right: 50px;
    padding: 16px;
}

.right .title .btn_new_room{
    width: 96px;
    height: 40px;
    background: none;
    border-radius: 4px;
    border:1px solid #007A94;
    font-size: 14px;
    color: #007A94;
    vertical-align: middle;
}

.right .title .btn_new_room:disabled{
    width: 96px;
    height: 40px;
    background: #ccc;
    border-radius: 4px;
    border: 0;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
}

.hospital_room .cont{
    height: 592px;
    overflow-y: scroll;
}

.hospital_room .cont .ward_list> p{
    margin-top: 8px;
    margin-right: 40px;
}

.hospital_room .cont .ward_list .ward_count{
    width: 250px;
    display: flex;
}

.hospital_room .cont::-webkit-scrollbar{
    width: 8px;
}

.hospital_room .cont::-webkit-scrollbar-thumb{
    height: 17%;
    border-radius: 10px;
    background: #ccc;
}

/* 신규장치등록 */
.new_device .device_count,
.return_device .device_count{
    padding: 8px 48px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.new_device .device_count div,
.return_device .device_count div{
    width: 144px;
    height: 120px;
    padding: 16px;
    text-align: center;
}

.new_device .device_count div p,
.return_device .device_count div p{
    font-size: 12px;
}

.new_device .device_count div h1,
.return_device .device_count div h1{
    font-size: 36px;
    color: #007A94;
}

.new_device .device_count div .use_line{
    color: #007A94;
}

.new_device .device_search,
.return_device .device_search{
    padding: 6px;
}

.selectBox * { box-sizing: border-box; }
.selectBox{
    position: relative;
    width: 160px;
    height: 36px;
    margin-right: 8px;
    border-radius: 4px;
    background: #eee;
    cursor: pointer;
    display: inline-block;
}

.selectBox:after{
    content: ''; 
    width: 12px;
    height: 6px; 
    position: absolute; 
    background: url('../img/under_arrow.svg') no-repeat;
    top: 48%; 
    right: 15px;
}

.selectBox .label{
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

.selectBox .optionList{
    width: 100%;
    position: absolute; 
    top: 48px;
    left: 0;
    font-size: 14px;
    font-weight: normal;
    background: #eee;
    color: #000;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

.selectBox.active .optionList{
    max-height: 500px;
}

.selectBox .optionItem{
    padding: 5px 15px 5px;
    transition: .1s;
}

.selectBox.active .optionList> :first-child{
    border-top: 1px solid #007A94;
}

.selectBox .optionlist> :last-child {
    border-radius:4px;
}

.nurse .search_container{
    width: 392px;
    height: 36px;
    padding-left: 16px;
    border-radius: 4px;
    background: #eee;
    display: inline-block;
}

.nurse .search_container input{
    background: #eee;
    height: 34px;
    float: left;
}

.nurse .search_container input::placeholder{
    font-size: 12px;
    color: #ccc;
}

.nurse .search_container button{
    float: right;
    height: 36px;
    padding: 5px 20px;
    border-radius: 4px;
}

.new_device .item_row,
.return_device .item_row{
    padding: 3px 5px 5px 15px;
    border-bottom: 1px solid #eee;
}

.new_device .item_row p,
.return_device .item_row p{
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
}

.new_device .item_row .item_name,
.return_device .item_row .item_name{
    width: 120px;
    margin-right: 50px;
}

.new_device .item_row .item_num,
.return_device .item_row .item_num{
    width: 80px;
    margin-right: 140px;
}

.new_device .item_row .use_line,
.return_device .item_row .use_line{
    width: 60px;
    margin-right: 38px;
    color: #007A94;
}

.new_device .item_row .btn_delete,
.return_device .item_row .btn_cancel{
    width: 56px;
    height: 24px;
    background: none;
    border-radius: 4px;
    border: 1px solid #940045;
    color: #940045;
    display: inline-block;
    vertical-align: middle;
}

/* 사용한 장치 반납 */
.return_device .device_count div h1,
.return_device .device_count div .use_line,
.return_device .item_row .use_line{
    color: #940045;
}

.return_device .title .btn_use_device{
    border: 1px solid #940045;
    color: #940045;
}

/* 측정 관리 */
.nurse .measure_status{
    width: 744px;
    margin: 0 32px;
}

.nurse_measure .wrap_inner{
    padding: 0;
}

.nurse_measure .wrap_inner> div{
    width: 100%;
    margin: 40px;
    display: flex;
}

.nurse_measure .right{
    width: 536px;
}

.measure_status .title div{
    margin-bottom: 13px;
}

.measure_status .search_container{
    width: 100%;
    height: 40px;
}

.measure_status .search_container input{
    width: 90%;
    height: 40px;
}

.measure_status .search_container button{
    height: 40px;
}

.measure_status .select_box{
    width: 160px;
    height: 36px;
    margin: 16px 16px 0 0;
    display: inline-block;
}

.measure_status .search_select p{
    margin-top: 25px;
    margin-left: 125px;
    font-size: 12px;
    display: inline-block;
}

.measure_status .search_select p span{
    color: #007A94;
}

.measure_status .cont .container{
    height: 476px;
    margin-top: 16px;
    overflow-y: scroll;
}

.measure_status .cont .container::-webkit-scrollbar{
    width: 8px;
}

.measure_status .cont .container::-webkit-scrollbar-thumb{
    height: 17%;
    border-radius: 10px;
    background: #ccc;
}

.measure_status .cont .container .status_list{
    height: 40px;
    padding: 11px 16px;
    border-bottom: 1px solid #eee;
}

.measure_status .cont .container .status_list> :first-child{
    margin-right: 16px;
}

.measure_status .cont .container .status_list p{
    margin-right: 40px;
}

.measure_status .cont .container .status_list p,
.measure_status .cont .container .status_list .device_list,
.measure_status .cont .container .status_list .device_list div,
.measure_status .cont .container .status_list .btn_list{
    display: inline-block;
    font-size: 12px;
}

.measure_status .cont .container .status_list .device_list{
    display: inline-block;
    margin-top: -9px;
    margin-right: 20px;
}

.nurse .measure_status .cont .container .status_list .device_list div{
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #007A94;
    color: #007A94;
}

.nurse .measure_status .cont .container .status_list .btn_list{
    margin-top: -9px;
}

.nurse .measure_status .cont .container .status_list .btn_list button{
    width: 48px;
    height: 32px;
    border-radius: 4px;
    background: none;
    font-size: 12px;
}

.nurse .measure_status .cont .container .status_list .btn_list .btn_modify{
    border:1px solid #007A94;
    color: #007A94;
}

.nurse .measure_status .cont .container .status_list .btn_list .btn_delete{
    border:1px solid #940045;
    color: #940045;
}

.nurse .new_hospital .container{
    border-bottom: 1px solid #eee;
}

.new_hospital .title .btn_new_hospital{
    width: 96px;
    height: 40px;
    padding: 10px 17px;
    border-radius: 4px;
    border:1px solid #007A94;
    background: none;
    font-size: 14px;
    color: #007A94;
}

.new_hospital .hospital_patient input{
    width: 100%;
    height: 36px;
    margin-bottom: 16px;
    padding: 10px 16px;
    font-size: 12px;
    background: #eee;
    border-radius: 4px;
}

.new_hospital .hospital_patient input::placeholder{
    color: #ccc;
}

.new_hospital .hospital_patient> div{
    display: flex;
}

.new_hospital .hospital_patient .patient_info> :first-child{
    width: 64px;
    padding: 10px;
}

.new_hospital .hospital_patient .patient_info .select_sex{
    width: 80px;
    height: 36px;
    margin: 0 16px;
}

.new_hospital .hospital_patient .patient_info .select_sex .sex_label{
    color: #ccc;
}

.new_hospital .hospital_patient .patient_info> :last-child{
    width: 296px;
}

.new_hospital .hospital_patient .patient_room .select_ward{
    width: 160px;
    height: 36px;
}

.new_hospital .hospital_patient .patient_room .select_room{
    width: 160px;
    height: 36px;
    margin: 0 16px;
}

.new_hospital .hospital_patient .patient_room .select_bed{
    width: 120px;
    height: 36px;
}


.new_hospital .cont .select_box .label{
    font-size: 12px;
    font-weight: normal;
    color: #000;
}

.new_hospital .cont> p{
    margin-top: 12px;
    font-size: 12px;
    text-align: right;
}

.new_hospital .cont> p span{
    color: #007A94;
}






/* 셀렉트 박스 */
.select_box * { box-sizing: border-box; }
.select_box {
    position: relative;
    width: 120px;
    height: 48px;
    border-radius: 4px;
    background: #eee;
    cursor: pointer;
}

.select_box:after {
    content: ''; 
    width: 12px;
    height: 6px; 
    position: absolute; 
    background: url('../img/under_arrow.svg') no-repeat;
    top: 50%; 
    right: 20px;
}

.select_box .label {
    display: flex;
    align-items: center;
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.select_box .option {
    width: 100%;
    position: absolute; 
    top: 48px;
    left: 0;
    font-size: 14px;
    font-weight: normal;
    background: #eee;
    color: #000;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}
 
.select_box.active .ward_option {
    max-height: 500px;
}

.select_box .option_item {
    padding: 5px 15px 5px;
    transition: .1s;
}

.select_box.active .ward_option> :first-child{
    border-top: 1px solid #007A94;
}

.select_box .ward_option> :last-child {
    border-radius:4px;
}

