/* --------------------- 공동 ui --------------------- */
.title h2{
    font-size: 16px;
    font-weight: 500;
    color: #007A94;
}

.title p{
    font-size: 12px;
    font-weight: normal;
}

.bell_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bell> div {
    display: flex;
    align-items: center;
}

.bell_name input[type="checkbox"]{display: none;}

.bell_name input[type="checkbox"]+label span{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -3px 8px 0 0;
    vertical-align: middle;
    background: url('/img/icon/btn_alarmOn.svg') no-repeat 0 0px / contain;
}

.bell_name input[type='checkbox']:checked+label span{
    background: url('/img/icon/btn_mute_off.png') no-repeat 0 0px / contain;
    filter: none;
}

.bell_num{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* btn1 - header 버튼 스타일 */
/* 
    <button type="button" class="btn1"></button> 
*/

.btn1 {
    background: none;
    color: #fff;
    font-size: 14px;
    width: 120px;
    line-height: 32px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: 0.2s all;
}

/* card_title - card title 스타일 */
/* 
    <h2 class="card_title"></h2> 
*/

.card_title {
    font-weight: 500;
    color: #007A94;
    margin-bottom: 10px;
}


/* card_btn, btn_active - card 버튼 스타일 */
/* 
    <button type="button" class="card_btn btn_active"></button>
*/

.card_btn {
    background: none;
    width: 100%;
    display: flex;
    line-height: 47px;
    padding: 0 40px 0 17px;
    background: url('../../images/right_arrow_gren.svg') no-repeat right 15px center;
    border-radius: 4px;
    border-bottom: 1px solid #EEEEEE;
    transition: 0.2s all;
}

.card_btn > span {
    font-size: 12px;
    display: inline-block;
}

/* btn_active */
.card_btn.btn_active {
    background: url('../../images/right_arrow_white.svg') no-repeat right 15px center;
    background-color: #007A94;
    border-color: #007A94;
}

.card_btn.btn_active > span {
    color: #fff;
}


/* no_arrow_list */
.no_arrow_list {
    background: none;
    padding-right: 17px;
}

.no_arrow_list.card_btn.btn_active {
    background: none;
    background-color: #007A94;
    border-color: #007A94;
}


/* 
<div class="form_box">
    <span></span>
    <label for="">
        <input type="text" class="clinic_name">
    </label>
</div> 
*/

.form_box {
    display: flex;
    align-items: center;
}

.form_box > span {
    font-size: 14px;
    width: 110px;
    margin-right: 10px;
    display: inline-block;
}

.form_box > label {
    display: inline-block;
    width: calc(100% - 120px);
} 

.form_box > label > input[type="text"] {
    display: block;
    padding: 0 15px;
    background-color: #EEEEEE;
    line-height: 45px;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
}


/* common_table */
.common_table {
    width: 100%;
}

/* thead, tbody */
.common_table thead,
.common_table tbody {
    width: 100%;
}

/* thead */
.common_table thead {
    
}

/* tbody */
.common_table tbody {
    
}

/* tr */
.common_table tr {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}


/* th, td */
.common_table tr > td,
.common_table tr > th {
    flex: 1;
    text-align: center;

}


.common_table tr > td:nth-child(1),
.common_table tr > th:nth-child(1) {
    flex: 1;
}

.common_table tr > td:nth-child(2),
.common_table tr > th:nth-child(2) {
    flex: 3;
}

.common_table tr > td:nth-child(4),
.common_table tr > th:nth-child(4),
.common_table tr > td:nth-child(3),
.common_table tr > th:nth-child(3) {
    flex: 1;
}


.common_table tr > th > span,
.common_table tr > td > span {
    display: block;
    line-height: 47px;
    font-size: 12px;

}


/* 라디오 버튼 */
/* 
    <label for="" class="common_radio">
        <input type="radio" name="" id="" class="radio">
    </label> 
*/
.common_radio {
    top: 4px;
    position: relative;
}

.common_radio .radio[type="radio"] {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 1px solid #CCCCCC;
    width: 24px;
    height: 24px;
    transition: 0.2s all;
    border-radius: 4px;
}

.common_radio > .radio[type="radio"]:checked {
    background-color: #007A94;
    border-color: #007A94;
}


/* search_box */
/*
    <label for="" class="search_box">
        <input type="text">
    </label> 
*/

.search_box > input[type="text"] {
    display: inline-block;
    line-height: 32px;
    border-radius: 4px;
    width: 360px;
    padding: 0 10px;
    background: #fff url('../../images/search.png') no-repeat right 10px center;
    font-size: 12px;
}

.search_box > input[type="text"]::placeholder {
    color: #CCCCCC;
}