/* pop up */
/* doctor 환자 선택  */
.doctor_message .pop.search_patient{
    top: 46px;
    right: 0;
    width: 576px;
    height: 180px;
}

.doctor_message .pop.search_patient p{
    font-size: 12px;
}

.doctor_message .pop.search_patient.on{
    display: block !important;
}



/* messasge */
.message .section{
    height: 720px;
}
.message .message_list{
    width: 1032px;
    margin: 0;
    padding: 16px;
    border-radius: 8px;
    background: #fff;
}

.nurse_message .message_list .message_title{
    padding: 8px 16px 24px;
    border: 0;
}

.message .message_title> div,
.message .title_text{
    display: flex;
    justify-content: space-between;
}

.nurse_message .title_text{justify-content: flex-start;}

.message .message_list .title_text div{
    margin-right: 15px;
}

.message .message_title{
    padding: 8px 16px 24px;
}

.message .message_title p{
    font-size: 12px;
    font-weight: normal;
    color: #444;
}

.message .title_text {
    width: 80px;
    padding: 10px 0;
}

.message .title_text div{
    align-items: center;
}

.message .title_text div img{
    margin-top: -4px;
    vertical-align: middle;
}

.nurse_message .title_text div img{
    filter: invert(54%) sepia(53%) saturate(7115%) hue-rotate(175deg) brightness(73%) contrast(58%);
}

.message .title_text h2{
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle;
}

.message .btn_message{
    width: 120px;
    height: 40px;
    padding: 12px 13px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nurse_message .btn_message{
    background: #007A94;
}

.nurse_message .title .btn_message p{
    color: #fff;
}

.nurse_message .btn_message img{
    filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(104deg) brightness(112%) contrast(101%);
}

.message .btn_message p{
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    color: #fff;
}

.nurse_message .message_list title{
    padding: 0;
}

.message .message_list .search_container{
    height: 48px;
    padding: 8px 16px;
    background: #eee;
    position: relative;
}

.nurse_message .message_list .search_container{
    width: 100%;
    border: none;
}

.message .message_list .search_container input{
    width: 480px;
    height: 32px;
    padding: 0 56px 0 8px;
    border-radius: 4px;
    background: #fff;
    /* border: 1px solid #940045; */
}

.message .message_list .search_container input::placeholder{
    color: #aaa;
}

.message .message_list .search_container .btn_search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 51%;
    width: 48px;
    border-radius: 4px;
}

.nurse_message .btn_search div{
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

.message .talk_list{
    height: 530px;
    padding: 16px;
    overflow: hidden scroll;
    scrollbar-width: none;
}

.message .talk_list::-webkit-scrollbar{
    display: none;
}

.message .talk_list> div{
    height: 48px;
    padding: 18px;
    border-radius: 4px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.message .talk_list> div:hover{
    background: #eee;
}

.message .talk_list p{
    margin-top: -2px;
    font-size: 12px;
}

.message .talk_list> div,
.message .talk_list .left,
.message .talk_list .message_info{
    display: flex;
    justify-content: space-between;
}

.message .talk_list .message_bell{
    width: 10px;
}

.message .talk_list .list.off .message_bell img{
    filter: invert(68%) sepia(90%) saturate(863%) hue-rotate(154deg) brightness(93%) contrast(101%);
}

.message .talk_list .talk_time{
    /* width: 130px; */
    margin: 0 16px 0 12px;
    display: flex;
}

/* .message .talk_list .talk_name{
    width: 100px;
} */

.message .talk_list .list.on{
    background: #940045;
}

.nurse_message .talk_list .list.on {
    background: #007A94;
}

.message .talk_list .list.on p{
    color: #fff;
}


/* 대화창 */
.message .message_talk{
    width: 640px;
    margin-left: 32px;
    background: #fff;
    border-radius: 8px;
}

.nurse.nurse_message .message_talk{
    padding: 0;
}

.message .talk_title{
    padding: 32px 32px 24px;
}

.nurse.nurse_message .message_talk .title{
    padding: 32px 32px 24px;
    border: 0;
}

.nurse_message .message_talk .title> :first-child{
    font-size: 16px;
    font-weight: 500;
    color: #007A94;
}

.nurse_message .message_talk .title> :last-child{
    color: #000;
}

.message .talk_title> :first-child{
    font-size: 16px;
    font-weight: 500;
}

.message .talk_title :last-child{
    margin-top: 13px;
    font-size: 12px;
    font-weight: normal;
}

.nurse_message .message_talk .search_container{
    width: 100%;
    height: 48px;
    padding: 8px 32px;
    border-radius: 0;
    background: linear-gradient(to right, #007A94, #003D4A);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message .message_talk .search_container input{
    width: 360px;
    height: 32px;
    padding: 7px 56px 7px 8px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #007A94;
}

.nurse_message .message_list .search_container input{border: 1px solid #007A94;}

.message .message_talk .search_container input::placeholder{
    font-size: 12px;
    font-weight: normal;
    color: #aaa;
}

.message .message_talk .search_container .btn_search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 53%;
    width: 48px;
    height: 30px;
    margin-right: 21px;
    border-radius: 4px;
    background-color: #fff;
}

.nurse_message .message_talk .search_container .btn_search{
    padding: 0;
}

.nurse_message .message_talk .search_container .btn_sort{
    width: 32px;
    height: 32px;
    padding: 8px;
    background: #fff;
}

.nurse_message .message_talk .search_container .btn_sort div{
    width: 16px;
    height: 15px;
}

.screening_doc .message_talk .search_container .btn_search{
    width: 30px;
    height: 30px;
    transform: translate( 20px ,-50%);
}

/* group_talk */
.message .group_talk{display: none;}
.message .group_talk .title{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.message .group_talk .title .info{
    position: absolute;
    top: 80px;
    right: 32px;
    width: 360px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    background: #fff;
    box-shadow: 3px 3px 6px rgba(0 0 0 /30%);
    z-index: 1;
    display: none;
}

.message .group_talk .title .info .top{
    margin-bottom: 20px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.message .group_talk .title .info h3{
    font-size: 14px;
    color: #007A94;
}

.message .group_talk .title .info button{
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    font-weight: 500;
    color: #940045;
    display: flex;
    align-items: center;
}

.message .group_talk .title .info button img{margin-left: 12px;}

.message .group_talk .title button{width: 96px; height: 40px;}
.message .group_talk .title button span:last-child{display: none;}
.message .group_talk .title button.on{
    border-color: #940045;
    background: #940045;
    color: #fff;
}

.message .group_talk .title button.on span:first-child{display: none;}
.message .group_talk .title button.on span:last-child{display: block;}

.message .group_talk .title .info p{
    margin-bottom: 12px;
    font-size: 14px;
}

.message .group_talk .title .info p:last-child{margin: 0;}



/* 대화창 비어있음 no_message*/
.message .no_talk{
    width: 968px;
    margin: 16px auto 0;
    padding: 16px 40px;
    border-radius: 4px;
    background: #eee;
    font-size: 12px;
    color: #888;
    display: none;
}
.message .no_talk_title{display: none;}
.message .no_message .no_talk{display: block;}
.message .no_message .talk_list{display: none;}
.message .no_message .title{display: none;}
.message .no_message .message_title{display: block;}
.message .no_message .no_talk_title{
    height: 112px;
    padding: 36px 36px 56px;
    font-size: 16px;
    font-weight: 400;
    color: #888;
    display: block;
}

.message .no_message .no_search input{ background: #CCC;}
.message .no_message .no_search .btn_search{background: none;}
.message .no_message .no_search button img{
    filter: invert(57%) sepia(1%) saturate(0%) hue-rotate(43deg) brightness(94%) contrast(87%);
}
.message .no_message .no_search .btn_sort{background: #ccc;}
.message .no_message .chat_container> div{display: none;}
.message .no_message .chat_window .btn_send{background: #ccc; color: #888;}
.message .no_message .chat_window textarea:disabled{background: none;}



/* 채팅 */
.nurse_message .chat_container{
    height: 440px;
    display: flex;
    justify-content: space-between;
    background: #C5D8DC;
}

.nurse_message .timeLine{
    width: 32px;
    height: 440px;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
}

.nurse_message .timeLine a{
    width: 12px;
    margin-bottom: 8px;
    background: #007A94;
    display: block;
}

.nurse_message .timeLine> :nth-child(2n-1){
    background: #eee;
}

.nurse_message .timeLine> :last-child{
    margin: 0;
}

.nurse_message .timeLine .first{
    /* height: 140px; */
    flex: 2;
}

.nurse_message .timeLine .second{
    /* height: 40px; */
    flex: 3;
}

.nurse_message .timeLine .third{
    /* height: 80px; */
    flex: 1;
}

.nurse_message .timeLine .fourth{
    /* height: 60px; */
    flex: 2;
}

.nurse_message .timeLine .fifth{
    /* height: 72px; */
    flex: 1;
}


.message .chat_inner{
    height: 440px;
    padding: 8px 20px;
    background: #E3DBE6;
    overflow-y: scroll;
}

.nurse_message .chat_inner{
    width: calc(100% - 32px);
    background: #C5D8DC;
}

.message .chat_inner::-webkit-scrollbar{
    width: 8px;
}

.message .chat_inner::-webkit-scrollbar-thumb{
    height: 17%;
    border-radius: 10px;
    background: #940045;
}

.nurse_message .chat_inner::-webkit-scrollbar-thumb{
    height: 17%;
    border-radius: 10px;
    background: #007A94;
}

.message .chat_me{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
}

.message .chat_me p{
    font-size: 14px;
    font-weight: normal;
}

.message .chat_me .bubble{
    position: relative;
    width: fit-content;
    padding: 14px 16px;
	background: #940045;
	border-radius: .4em;
    color: #fff;
}

.message .chat_me .bubble:after{
    content: '';
    position: absolute;
    right: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #940045;
    border-right: 0;
    margin-top: -8px;
    margin-right: -8px;
}

.nurse_message .chat_me .bubble{
	background: #007A94;
}

.nurse_message .chat_me .bubble:after{
    content: '';
    position: absolute;
    right: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #007A94;
    border-right: 0;
    margin-top: -8px;
    margin-right: -8px;
}

.message .chat_you{
    width: 100%;
    margin-bottom: 16px;
}

.message .chat_you> p{
    font-size: 12px;
}

.message .chat_you .bubble{
    margin: 7px 0;
    position: relative;
    width: fit-content;
    padding: 14px 16px;
	background: #fff;
	border-radius: .4em;
    color: #000;
}

.message .chat_you .bubble:after{
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #fff;
    border-left: 0;
    margin-top: -8px;
    margin-left: -8px;
}

.message .chat_window{
    height: 122px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.message .chat_window textarea{
    width: 90%;
}

.message .chat_window textarea::placeholder{
    font-size: 14px;
    color: #ccc;
}

.message .chat_window .btn_send{
    width: 48px;
    height: 32px;
    border-radius: 4px;
    background: #940045;
    font-size: 14px;
    color: #fff;
}

.nurse_message .chat_window .btn_send{
    background: #007A94;
}

.nurse_message .start_clinic{
    height: 48px;
    margin: 0 auto 16px;
    padding: 14px 32px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #007A94, #003D4A);
    border-radius: 4px;
    color: #fff;
}

.nurse_message .start_clinic p{
    font-size: 14px;
    font-weight: normal;
}

.nurse_message .end_clinic{
    height: 48px;
    margin: 0 auto 16px;
    padding: 14px 32px;
    display: flex;
    justify-content: space-between;
    background: #eee;
    border-radius: 4px;
}

.nurse_message .end_clinic p{
    font-size: 14px;
    font-weight: normal;
}


.message_list, .message_talk{display: block;}
.select_medi, .send_message{display: none;}


/* 새로운 메세지 보내기 */
.message .select_medi{
    width: 1032px;
    margin: 0;
    padding: 16px 16px 32px;
    background: #fff;
    border-radius: 8px;
}

.nurse_message .left .emergency_title{
    border: 0;
}

.message .emergency_title div{
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
}

.message .emergency_title p{
    font-size: 12px;
    color: #444;
}

.message .select_list{
    width: 100%;
    height: fit-content;
    margin: 18px auto 0;
    padding: 16px 16px 11px;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}

.nurse_message .select_list{
    width: 968px;
    height: fit-content;
    margin: 0 auto;
    padding: 16px 16px 11px;
    border: 0;
    background: #eee;
    flex-wrap: wrap;
}

.message .select_list div{
    width: fit-content;
    margin-right: 20px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.message .select_list p{
    margin-right: 7px;
    font-size: 12px;
}

.message .select_list .btn_doctor_delete{
    width: 16px;
    height: 16px;
    background: none;
}

.message .container{
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
}

.nurse_message .container{
    padding: 16px 32px;
}

.message .container h2{
    font-size: 12px;
    margin-bottom: 11px;
}

.message .favorite_list{
    width: 480px;
}

.message .group{
    border-bottom: 1px solid #940045;
    display: flex;
    justify-content: space-between;
}

.nurse_message .group{
    border-bottom: 1px solid #007A94;
}

.message .group> div{
    width: 204px;
    display: flex;
}

.message .group .group_list{
    margin-right: 4px;
    padding: 7px 10px;
    border-radius: 4px 4px 0 0;
    background: #ccc;
    cursor: pointer;
}

.message .group .group_list p{
    font-size: 12px;
    text-align: center;
    color: #888;
}

.message .group .group_list.on{
    background: #940045;
}


.nurse_message .group .group_list.on{
    background: #007A94;
}

.message .group .group_list.on p{
    color: #fff;
}

.message .group .btn_next{
    width: 24px;
    padding: 5px 5px 0;
    background: none;
}

.nurse_message .group .btn_next img{
    filter: invert(124%) sepia(100%) saturate(5863%) hue-rotate(154deg) brightness(48%) contrast(97%);
}

.message .group .btn_add{
    background: none;
    color: #940045;
}

.nurse_message .group .btn_add{
    background: none;
    color: #007A94;
}

.message .favorite_list input{
    display: none;
}

.message .group_container{
    padding: 16px;
    overflow-y: scroll;
}

.nurse_message .group_container,
.doctor_message .group_container{
    height: 400px;
}

.message .group_container::-webkit-scrollbar{
    width: 8px;
}

.message .group_container::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 10px;
}

.message .group_container> div{
    height: 32px;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
}

.message .group_container label{
    display: flex;
    align-items: center;
}

.message .group_container label p{
    margin-right: 14px;
}

.message .group_container .all_check{
    height: fit-content;
    margin: 0;
    padding-top: 0;
    justify-content: initial;
}

.message .input_wrap{
    display: flex;
    align-items: center;
}

.message .input_wrap label{
    font-size: 12px;
    cursor: pointer;
}

.message .input_wrap label :first-child{
    margin-right: 14px;
}

.message .select_doctor{
    width: 400px;
}

.message .search_container{
    width: 100%;
    height: 32px;
    padding: 0;
    margin-top: 12px;
    border-radius: 4px;
    border: 1px solid #007A94;
    position: relative;
}

.message .search_container input{
    width: 100%;
    height: 100%;
    padding: 0 45px 0 8px;
    margin: 0;
    border-radius: 4px;
    background: transparent;
    font-size: 12px;
    font-weight: normal;
}

.message .search_container input::placeholder{
    font-weight: normal;
    color: #ccc;
}

/* 값 입력 됐을 때 */
.message .search_container input:valid {
    background: #FFFFFF;
    border: 1px solid #007A94;
}

.message .search_container.red input:valid {
    border-color: #940045;
}

.message .search_container.red input:valid + .btn_search img {
    filter: invert(58%) sepia(81%) saturate(7091%) hue-rotate(329deg) brightness(43%) contrast(100%);
}


/* ====== 찾을 수 없습니다 일때 ======*/
.message .search_container.not_find {
    /* background: #CCCCCC; */
    border: none;
}

.message .search_container.not_find input {
    background: #CCCCCC;
    border: none;
}

.message .search_container.not_find input::placeholder {
    color: #AAAAAA;
}

.message .search_container.not_find .btn_search img {
    filter: invert(76%) sepia(0%) saturate(0%) hue-rotate(283deg) brightness(90%) contrast(90%);
}
/* =========================== */

.message .search_container .btn_search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 35px;
    height: 100%;
    padding: 5px 0;
    background: none;
}

.message .search_container .btn_search div{
    width: 16px;
    height: 16px;
    margin: 0 auto;
}

.message .search_container .btn_search img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(77%) sepia(105%) saturate(7178%) hue-rotate(-394deg) brightness(55%) contrast(113%);
}

.nurse_message .search_container .btn_search img{
    filter: invert(32%) sepia(90%) saturate(863%) hue-rotate(154deg) brightness(52%) contrast(96%);
}

.message .list_inner{
    height: 438px;
    margin-top: 8px;
    overflow: hidden scroll;
}

.message .list_inner::-webkit-scrollbar{
    width: 8px;
    color: #007A94;
}

.message .list_inner::-webkit-scrollbar-thumb{
    height: 17%;
    border-radius: 10px;
    background: #ccc;
}

.message .list_inner div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message .list_inner> div{
    padding: 7px 7px;
}

.message .list_inner label{
    display: flex;
    align-items: center;
}

.message .list_inner label p{
    margin-right: 14px;
}

.message .list_inner .favorite_container input{
    display: none;
}

.message .list_inner input{
    display: none;
}

.message .list_inner .favorite_container input[type='checkbox']:checked+label span{
    background: url('/H-Connect/img/emergency/favorite.svg') no-repeat 0 0px / contain;
    filter: invert(6%) sepia(88%) saturate(7217%) hue-rotate(307deg) brightness(60%) contrast(127%);
}

.nurse_message .list_inner .favorite_container input[type='checkbox']:checked+label{
    background: url('/H-Connect/img/emergency/favorite.svg') no-repeat 0 0px / contain;
    filter:invert(32%) sepia(90%) saturate(863%) hue-rotate(154deg) brightness(52%) contrast(96%);
}

.message .send_message{
    width: 640px;
    height: 720px;
    padding: 16px;
    margin-left: 32px;
    background: #fff;
    border-radius: 8px;
}

.message .send_message .title{
    padding: 16px 16px 24px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.message .send_message .title h2{
    margin-bottom: 13px;
    font-size: 16px;
    color: #940045;
}

.nurse_message .send_message .title h2{
    margin-bottom: 13px;
    font-size: 16px;
    color: #007A94;
}

.message .send_message .title p{
    font-size: 12px;
    color: #444;
}

.message .send_message form{
    padding: 0 16px;
}

.message .send_message form textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #A2A2A2;
}

.message .send_message form textarea::placeholder{
    color: #ccc;
}

.message .send_message .btn_list{
    float: right;
    display: flex;
}

.emergency .emergency_recep .list_container .arrival_time::after{
    content: '';
    display: block;
    clear: both;
}

.message .send_message .btn_list button{
    width: 96px;
    height: 32px;
    border-radius: 4px;
    background: #fff;
}

.message .send_message .btn_list .btn_cancel{
    margin-right: 8px;
    border: 1px solid #940045;
    color: #940045;
}

.message .send_message .btn_list .btn_send{
    border: 1px solid #007A94;
    color: #007A94;
}

.nurse_message .send_message .btn_list .btn_send{
    background: #007a94;
    color: #fff;
}

.nurse_message .send_message .btn_list .btn_send:hover{
    background: #004F60;
    transition: .3s;
}


/* 응급호출 */
.doctor_message{ padding-top: 80px;}

.doctor_message .wrap_inner{
    width: 100%;
    min-width: 1820px;
    background: #eee;
}

.doctor_message .select_medi,
.doctor_message .send_message{
    display: block;
}

.message .select_medi .title{
    padding: 16px 16px 26px;
}

.message .select_medi .title h2{
    font-size: 16px;
    font-weight: 500;
    color: #940045;
}

.nurse_message .select_medi .title h2{margin-bottom: 13px;color: #007A94;}

.message .list_inner label p{
    font-size: 12px;
}

.doctor_message .container{
    height: initial;
}

.doctor_message .send_message .title> div{
    display: flex;
    justify-content: space-between;
}

.doctor_message .send_message .title .btn_list{
    display: flex;
}

.doctor_message .send_message .title .btn_list button{
    width: 96px;
    height: 40px;
}

.doctor_message .send_message .title .btn_cancel:hover{
    background: #F5EEF1;
}

.doctor_message .send_message .title .btn_call{
    border: 1px solid #007A94;
    color: #007A94;
}

.doctor_message .send_message .title .btn_call:hover{
    background: #C5D8DC;
}

.doctor_message .send_message .patient_select{
    padding: 16px;
    margin-bottom: 20px;
}

.doctor_message .send_message h4,
.doctor_message .group_container label p{
    font-size: 12px;
}

.doctor_message .send_message .search_container{
    margin: 19px 0 16px 0;
}

.doctor_message .send_message .search_container input{
    /* width: 296px; */
    width: 100%;
    height: 40px;
    padding: 0 40px 0 16px ;
}

.doctor_message .send_message .search_container.on input{
    border: 1px solid #007A94;
    background: #fff;
}

.doctor_message .send_message .search_container.on img{
    filter: none;
}

.doctor_message .send_message .search_container.on .btn_search{
    background: #fff;
}

.doctor_message .send_message .btn_search{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    padding: 3px;
}

.doctor_message .send_message .btn_search img{
    filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(181deg) brightness(96%) contrast(96%);
}

.doctor_message .send_message .result{
    padding: 12px;  
    border-radius: 4px;  
    border: 1px solid #707070;
}

.doctor_message .send_message .result p{
    font-size: 12px;   
}

.doctor_message .send_message textarea{
    width: 296px;
    height: 100px;
    margin-top: 19px;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #707070;
    font-size: 12px;
}

.doctor_message .connect{
    padding: 36px 14px;
}

.doctor_message .connect h4{
    color: #888;
}

.doctor_message .connect span{
    font-size: 12px;
    color: #000;
}

.doctor_message .connect> div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doctor_message .connect> div p{
    margin-right: 15px;
    font-size: 12px;
}

.doctor_message .connect label{
    width: 216px;
    height: 40px;
    padding: 10px 16px;
    border-radius: 4px;
    background: #eee;
    font-size: 12px;
}

.doctor_message .connect label.on{
    border: 1px solid #940045;
    color: #940045;
}
.doctor_message .connect> div> div{
    display: flex;
    align-items: center;
}

.doctor_message .connect .mic{
    margin: 19px 0;
}

.doctor_message .select_doctor .red_custom[type="checkbox"] + label{
    background: #eee;
    border: 1px solid #eee;
}

.doctor_message .select_doctor .red_custom[type="checkbox"]:checked + label{
    background: #940045;
}

/* 의사 - 선별진료 */
.doc_screen{
    min-width: 1880px;
    padding-top: 80px;
    background: #eee;
}

.doc_screen .wrap_inner{
    min-height: calc(100vh - 80px);
    padding: 40px;
    display: flex;
}

.doc_screen .section{
    height: 720px;
}

.doc_screen .title{
    padding: 16px 16px 26px;
    border-bottom: 1px solid #eee;
}

.doc_screen .message_list .title> div{
    display: flex;
    justify-content: space-between;
}

.doc_screen .message_list .title .title_text{
    width: 100%;
    justify-content: initial;
    color: #007A94;
}

.doc_screen .title_text> div{
    margin-right: 15px;
}

.doc_screen .message_list .title p{
    font-size: 12px;
    color: #444;
}

.doc_screen .waiting{
    padding: 16px;
}

.doc_screen .waiting .row,
.doc_screen .waiting .img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doc_screen .waiting .row{
    height: 64px;
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
}

.doc_screen .waiting .row> div{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.doc_screen .waiting .row p{
    font-size: 12px;
}

.doc_screen .waiting .img{
    width: 40px;
}

.doc_screen .waiting .img> :first-child{
    width: 12px;
    height: 15px;
}

.doc_screen .waiting .img> :first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doc_screen .waiting .img> :last-child{
    width: 16px;
    height: 16px;
}

.doc_screen .waiting .img> :last-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doc_screen .waiting .btn_treat{
    width: 120px;
    height: 40px;
    padding: 7px 24px;
    margin-left: 60px;
    border-radius: 4px;
    background: linear-gradient(to right, #004F60, #350039);
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
}

.doc_screen .waiting .btn_treat .img_container{
    width: 16px;
    height: 15px;
    margin-right: 10px;
}

.doc_screen .waiting .btn_treat .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.doc_screen .waiting .btn_treat:disabled{
    background: #ccc;
    color: #888;
}

.doc_screen .waiting .btn_treat:disabled img{
    filter: invert(56%) sepia(0%) saturate(0%) hue-rotate(181deg) brightness(96%) contrast(96%);
}

/* .screening .message_talk{
    width: 480px;
    height: 640px;
    margin-left: 16px;
} */

.doc_screen .message_talk .title{
    padding: 32px 32px 25px;
    border: none;
}

.doc_screen .message_talk .title h2{
    margin-bottom: 13px;
    font-size: 16px;
}

.doc_screen .message_talk .title p{
    font-size: 12px;
    color: #000;
}

.doc_screen .message_talk .search_container{
    display: flex;
    justify-content: space-between;
}

.doc_screen .message_talk .btn_sort{
    border-radius: 4px ;
}


/* 의사 메세지 */
.doc_screen .message_list .title .btn_message{
    width: 140px;
    font-size: 12px;
    color: #fff;
}

.doc_screen .select_medi .title{
    padding: 16px 16px 26px;
    border:none;
}

.doc_screen .select_medi .title h2{
    margin-bottom: 13px;
    font-size: 16px;
    font-weight: 500;
    color: #007A94;
}

.doc_screen .select_medi .title p{
    font-size: 12px;
    color: #444;
}

.doc_screen .select_list{
    /* width: 672px; */
    border: 1px solid #000;
    background: #fff;
}

.doc_screen .send_message .btn_list .btn_send{
    background: #007A94;
    color: #fff;
}

.doc_screen .container{
    height: fit-content;
    padding: 28px 16px 16px;
}

.doc_screen .select_medi .list_inner{
    height: 430px;
}

.doctor_new.message .container{
    height: 312px;
    padding: 0 8px;
    margin-top: 12px;
    overflow-y: scroll;
    display: inherit;
}

.doctor_new.message .container::-webkit-scrollbar{
    width: 8px;
}

.doctor_new.message .container::-webkit-scrollbar-thumb{
    height: 17%;
    border-radius: 10px;
    background: #ccc;
}

.doctor_new.message .favorite_list{
    width: 100%;
}

.doctor_new.message .group{
    border-bottom: 1px solid #007A94;
}

.doctor_new.message .group_container{
    padding: 16px 0;
}

.doctor_new.message .group .group_list.on{
    background: #007A94;
}

.doctor_new.message .group .btn_next img{
    filter: invert(30%) sepia(66%) saturate(5588%) hue-rotate(179deg) brightness(80%) contrast(101%);
}

.doctor_new.message .group .btn_add{color: #007A94;}

.doctor_new.message .select_doctor{
    width: 100%;
}

.doctor_new.message .list_inner{
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

.doctor_new.message .list_inner> div{
    padding: 7px 0;
}

.doctor_new.message .select_doctor h2{
    padding-left: 8px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}

.doctor_new.message .favorite_container input[type="checkbox"]+label> span{
    margin: 0;
}

.doctor_new.message .favorite_container input[type='checkbox']:checked+label span{
    background: url('/H-Connect/img/emergency/favorite.svg') no-repeat 0 0px / contain;
    filter: invert(39%) sepia(90%) saturate(863%) hue-rotate(154deg) brightness(57%) contrast(85%);  
}

.doctor_new.message .list_inner .favorite_container input[type='checkbox']:checked+label span{
    background: url('/H-Connect/img/emergency/favorite.svg') no-repeat 0 0px / contain;
    filter:invert(32%) sepia(90%) saturate(863%) hue-rotate(154deg) brightness(52%) contrast(96%);
}

.doctor_new.message input[type="checkbox"]:checked + label> span {
    filter: invert(58%) sepia(152%) saturate(863%) hue-rotate(154deg) brightness(60%) contrast(100%);
}

.doc_screen .group_container .green_custom[type="checkbox"]:checked + label{
    background: #007A94;
    border: #eee;
}

/* all check */
.doc_screen .group_container .all_check input[type="checkbox"] + label{
    border: 1px solid #007A94;
}

.doc_screen .group_container .all_check input[type="checkbox"] + label + label{
    color: #007A94;
}


/* 선별진료실 -의사 */
.screening_doc {
    padding-top: 80px;
}

.screening_doc .section{
    height: 720px;
}

.screening_doc .wrap_inner{
    width: 100%;
    min-width: 1860px;
    min-height: calc(100vh - 80px);
    background: #eee;
}

.screening_doc .message_list .title{
    padding: 16px 16px 24px;
    border-bottom: 1px solid #eee;
}

.screening_doc .message_list .title> div{justify-content: space-between;}

.screening_doc .message_list .title div{
    display: flex;
    align-items: center;
}

.screening_doc .message_list .title> div> div{ width: fit-content;}

.screening_doc .title_text{
    width: 100%;
    justify-content: inherit;
}

.screening_doc .title_text div{
    width: 16px;
    height: 16px;
    margin-right: 15px;
}

.screening_doc .title_text div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screening_doc .btn_message{
    width: 120px;
    padding: 12px 11px;
    font-size: 12px;
    color: #fff;
}

.screening_doc .btn_message:hover{
    background: #004F60;
}

.screening_doc .waiting{
    width: 968px;
    margin: 0 auto;
}

.screening_doc .waiting .row,
.screening_doc .waiting .row> div,
.screening_doc .waiting .row .img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screening_doc .waiting .row .img{
    width: 40px;
    margin: 0 33px 0 16px;
}

.screening_doc .waiting .row .handi{
    width: 12px;
    height: 15px;
}

.screening_doc .waiting .row .xray{
    width: 16px;
    height: 15px;
}

.screening_doc .waiting .row{
    width: 100%;
    height: 64px;
    padding: 22px 16px;
    border-bottom: 1px solid #eee;
}

.screening_doc .waiting .btn_treat{
    width: 120px;
    padding: 11px 20px;
    background: linear-gradient(to right, #004F60, #350039);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screening_doc .waiting .btn_treat div{
    width: 16px;
    height: 15px;
}

.screening_doc .waiting .btn_treat:disabled{
    background: #ccc;
    color: #888;
}

.screening_doc .waiting .btn_treat:disabled img{
    filter: invert(7%) sepia(2%) saturate(0%) hue-rotate(283deg) brightness(146%) contrast(8%);
}

.screening_doc .search_container{
    display: flex;
    justify-content: space-between;
}

.screening_doc .message_talk .title{
    padding: 32px 32px 24px;
}

.screening_doc .message_talk .title h2{
    margin-bottom: 13px;
}



/* para_message */
.para_message .section {
    height: 720px;
}

.para_message .search_container{border: none;}

.para_message .search_container input{border: 1px solid #940045;}
.para_message .search_container input:valid{border: 1px solid #940045;}

.para_message .title_text h2 {
    color: #940045;
}
.para_message .favorite_list .input_wrap {
    margin: 0;
}
.para_message .doctor_list .input_wrap {
    margin: 0;
}
.para_message .message_talk .search_container input{border: 1px solid #940045;}

.para_message .chat_me .bubble:after{filter: invert(58%) sepia(81%) saturate(7091%) hue-rotate(329deg) brightness(43%) contrast(100%);}

.para_message .btn_message{
    background: #940045;
}

.para_message .btn_message:hover{
    background: #4A0000;
}

.para_message .btn_message img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(287deg) brightness(106%) contrast(102%);
}
.para_message .doctor_list .input_wrap{
    margin: 0;
}
.para_message .message_list .search_container .btn_search img{
    filter: invert(77%) sepia(105%) saturate(7178%) hue-rotate(-394deg) brightness(55%) contrast(113%);
}

.para_message .talk_list .list.off .message_bell img{
    filter: invert(77%) sepia(105%) saturate(7178%) hue-rotate(-394deg) brightness(55%) contrast(113%);
}

.para_message .message_talk .search_container{
    height: 48px;
    padding: 8px 32px;
    margin: 0;
    border-radius: 0;
    background: linear-gradient(to right, #940045, #4A0000);
    position: relative;
}
.para_message .emergency_title{
    padding: 8px 16px;
    border: 0;
    color: #940045;
}
.para_message .emergency_title h2{
    color: #940045;
}
.para_message .favorite_list .input_wrap{
    margin: 0;
}

.para_message .message_list .search_container .btn_search{width: 20px; margin-right: 11px;}
