@charset "utf-8";

#contents_wrap {
    display: block;
    padding-top: 64px;
    background-color: #222222;
}


/* header */
#header {
    height: 64px;
}

.logo {
    width: 16px;
    height: 19px;
    margin-right: 10px;
}

.logo img{
    object-fit: contain;
}

.pahe_title {
    font-size: 14px;
}

/* header_btn_box */
.header_btn_box {
    display: flex;
    align-items: center;
}

/* start_time_box */
.start_time_box {
    font-size: 12px;
    color: #fff;
    display: flex;
    margin-right: 25px;
}

.start_time_box .care_start_time {
    margin-right: 25px;
}


/* care_end_btn */
.care_end_btn {
    display: inline-block;
}

.care_end_btn .call_doc_btn {
    display: inline-block;
    width: 120px;
    line-height: 32px;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 20px;
    color: #007A94;
    text-align: center;
    background: #fff url('/H-Connect/img/icon/btn_logo_green.svg') no-repeat left 18px center;
}


/* care_sect */
#care_sect {
    /* max-width: 1920px; */
    min-width: 1880px;
    height: calc(100vh - 64px);
    background-color: #222222;
    padding: 5px;
}

.care_cont_box {
    display: flex;
}

.care_start_card {
    height: 888px;
}

/* care_start_card1 */
.care_start_card1 {
    flex: 3;
    min-width: 600px;
    max-width: 600px;
    background-color: #444444;
    margin-right: 5px;
}

.care_header {
    display: flex;
    align-items: flex-end;
    height: 40px;
    background: #444;
}

/* care_tab */
.care_tab {
    display: flex;
    padding: 0 10px;
}

.care_tab_list {
    background-color: #007A94;
    padding: 0 10px 0 30px;
    border-radius: 4px 4px 0 0;
}

.care_tab_list > span {
    display: block;
    line-height: 32px;
    color: #fff;
    font-size: 12px;
}

.mess_tab {
    background: #007A94 url('/H-Connect/img/icon/message_white.svg') no-repeat left 8px top 9px;
}

/* messge_cont_box */
.chat_container{
    height: 728px;
    display: flex;
    justify-content: space-between;
    background: #C5D8DC;
}

.messge_cont_box {
    background-color: #C5D8DC;
}

.mess_text_box {
    height: 728px;
    display: flex;
}

.timeLine{
    width: 32px;
    height: 100%;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
}

.timeLine a{
    width: 12px;
    margin-bottom: 8px;
    display: block;
    background: #007A94;
}

.timeLine> :nth-child(2n-1){
    background: #eee;
}

.timeLine> :last-child{
    margin: 0;
}

.timeLine .first{
    flex: 3;
}

.timeLine .second{
    flex: 2;
}

.timeLine .third{
    flex: 1;
}

.timeLine .fourth{
    flex: 2;
}

.timeLine .fifth{
    flex: 1;
}

.chat_inner{
    width: calc(100% - 32px);
    height: 725px;
    padding: 8px 20px;
    overflow-y: scroll;
}

.chat_inner::-webkit-scrollbar{
    width: 8px;
}

.chat_inner::-webkit-scrollbar-thumb{
    height: 17%;
    border-radius: 10px;
    background: #007A94;
}

.chat_me{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
}

.chat_me p{
    font-size: 14px;
    font-weight: normal;
}

.chat_me .bubble{
    position: relative;
    width: fit-content;
    padding: 14px 16px;
	background: #007A94;
	border-radius: .4em;
    color: #fff;
}

.chat_me .bubble:after{
    content: '';
    position: absolute;
    right: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #007A94;
    border-right: 0;
    margin-top: -8px;
    margin-right: -8px;
}

.chat_you{
    width: 100%;
    margin-bottom: 16px;
}

.chat_you> p{
    font-size: 12px;
}

.chat_you .bubble{
    margin: 7px 0;
    position: relative;
    width: fit-content;
    padding: 14px 16px;
	background: #fff;
	border-radius: .4em;
    color: #000;
}

.chat_you .bubble:after{
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #fff;
    border-left: 0;
    margin-top: -8px;
    margin-left: -8px;
}

.start_clinic{
    height: 48px;
    margin: 0 auto 16px;
    padding: 14px 32px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #007A94, #003D4A);
    border-radius: 4px;
    color: #fff;
}

.start_clinic p{
    font-size: 14px;
    font-weight: normal;
}

.end_clinic{
    height: 48px;
    margin: 0 auto 16px;
    padding: 14px 32px;
    display: flex;
    justify-content: space-between;
    background: #eee;
    border-radius: 4px;
}

.end_clinic p{
    font-size: 14px;
    font-weight: normal;
}



.messge_cont_box .mess_send_box{
    border-radius: 0;
}

.chat_window{
    height: 122px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.chat_window textarea{
    width: 90%;
}

.chat_window textarea::placeholder{
    font-size: 14px;
    color: #ccc;
}

.chat_window .btn_send{
    width: 48px;
    height: 32px;
    border-radius: 4px;
    background: #007A94;
    font-size: 14px;
    color: #fff;
}


/* care_start_card2 */
.care_start_card2 {
    flex: 5;
    min-width: 1308px;
    max-width: 1308px;
    background-color: #EEEEEE;
}

.care_start_card2 .card_cont_box {
    padding: 0 32px 32px;
}

.care_start_card2 .care_header {
    background-color: #007A94;
    align-items: center;
    padding: 0 0 0 30px;
}

.care_start_card2 .care_card_title {
    color: #fff;
    font-size: 12px;
}

/* cont_header */
.care_start_card2 .cont_header {
    width: 100%;
    display: flex;
    height: 96px;
    align-items: center;
    justify-content: space-between;
}

.care_start_card2 .cont_patient {
    font-weight: 500;
}

/* right_cont_header */
.care_start_card2 .right_cont_header {
    display: flex;
    align-items: center;
}

.right_cont_header .manage_doc {
    margin-right: 20px;
}

.right_cont_header .import_btn {
    line-height: 40px;
    background-color: #007A94;
    color: #fff;
    display: inline-block;
    padding: 0 15px 0 35px;
    border-radius: 4px;
    font-size: 14px;
    background: #007A94 url('/H-Connect/img/icon/care_icon.png') no-repeat left 12px center;
}

/* prescription_box */
.care_start_card2 .prescription_box {
    background-color: #fff;
    border: 32px solid #fff;
    height: 718px;
    border-radius: 8px;
    overflow: auto;
}

.prescription_box .prescription {
    width: 100%;
    background-color: #EEEEEE;
    height: 1000px;
}





/* 스크롤 바 */
.prescription_box::-webkit-scrollbar { 
    width: 8px;
} 
.prescription_box::-webkit-scrollbar-track {
}

/* 실질적 스크롤 바 */
.prescription_box::-webkit-scrollbar-thumb { 
    border-radius: 50px;
    background:#007A94; 
} 
/* 실질적 스크롤 바 위에 마우스를 올려다 둘 때
.prescription_box::-webkit-scrollbar-thumb:hover { 
    background: #00698177; 
} 
실질적 스크롤 바를 클릭할 때
.prescription_box::-webkit-scrollbar-thumb:active { 
    background: #00698179; 
}
스크롤 바 상 하단 버튼 
.prescription_box::-webkit-scrollbar-button { 
    display: none; 
} 
 */


.modal_footer .sure_btn {
    display: inline-block;
}


/* 선별진료소 - 담당의 */
.scroll .care_header{
    padding: 0 0 0 16px;
    background: #888;
}
.camera{
    width: 80px;
    height: 24px;
    padding: 3px 18px;
    border-radius: 4px;
    background: #fff;
    font-size: 12px;
    color: #007A94;
}

.scroll .card_cont_box{
    padding: 0;
    height: 848px;
    overflow: hidden;

}

.scroll .cont_header{
    padding: 11px 23px;
    height: 40px;
    background: #007A94;
    color: #fff;
}

.scroll .card_cont_box .you_cam{
    width: 100%;
    height: 100%;
    background: url('/H-Connect/img/emergency/you.jpg') no-repeat;
    position: relative;

}

.scroll .card_cont_box .my_cam{
    position: absolute;
    width: 240px;
    height: 135px;
    border-radius: 4px;
    background: url('/H-Connect/img/emergency/mycam.jpg') no-repeat;
    background-size: cover;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    top: 8px;
    right: 8px;
}

.scroll .card_cont_box .my_info{
    width: 144px;
    height: 40px;
    padding: 8px 10px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 52px;
    right: 8px;
}

.check_ex_text{font-size: 16px;}
.modal_form{padding-top: 0;}