@charset "utf-8";

#contents_wrap {
    display: block;
    padding-top: 64px;
    background-color: #222222;
}


/* header */
#header {
    height: 64px;
}

.logo {
    width: 18px;
    height: 22px;
    margin-right: 10px;
}

.pahe_title {
    font-size: 14px;
}

/* header_btn_box */
.header_btn_box {
    display: flex;
    align-items: center;
}

/* start_time_box */
.start_time_box {
    font-size: 12px;
    color: #fff;
    display: flex;
    margin-right: 25px;
}

.start_time_box .care_start_time {
    margin-right: 25px;
}


/* care_end_btn */
.care_end_btn {
    display: inline-block;
}

.care_end_btn .call_doc_btn {
    display: inline-block;
    width: 120px;
    line-height: 32px;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 20px;
    color: #007A94;
    text-align: center;
    background: #fff url('/H-Connect/img/icon/btn_logo_green.svg') no-repeat left 18px center;
}


/* care_sect */
#care_sect {
    min-width: 1920px;
    height: 100%;
    min-height: 800px;
    background-color: #222222;
}

.care_cont {
    width: 800px;
    height: 100%;
    margin: auto;
    padding-top: 240px;
}

.care_cont .care_ready {
    /* background: url('/H-Connect/img/logo_gray.png') no-repeat center top 5px; */
    /* padding-top: 180px; */
    text-align: center;
    margin-bottom: 120px;
}

.care_cont .care_ready .img_container{
    width: 138px;
    height: 96px;
    margin: 0 auto 72px;
}

.care_cont .care_ready .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ready_title {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.care_connect {
    color: #888888;
    margin-bottom: 50px;
}


/* care_ui */
.care_ui {
    display: flex;
    justify-content: center;
}



/* dis_btn */
.care_ui .dis_btn {
    background: none;
    margin-right: 30px;
}

.care_ui .dis_btn > span {
    color: #940045;
    font-size: 16px;
}


/* mute_btn */
.care_ui .mute_box .mute_btn > span {
    color: #007A94;
}

.care_ui .mute_box > input[type="checkbox"] {
    display: none;
}


.care_ui .care_btn {
    display: inline-block;
    background-color: #fff;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    position: relative;
    transition: 0.2s all;
}

.care_ui .care_btn:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background: url('/H-Connect/img/emergency/refuse.svg') no-repeat;
    transition: 0.2s all;
}

.care_ui .mute_btn:before {
    width: 24px;
    height: 32px;
    background: url('/H-Connect/img/emergency/mic.svg') no-repeat;
}

.care_ui .care_btn > span {
    line-height: 80px;
    opacity: 0;
    transition: 0.2s all;
}



/* hover */
.care_ui .care_btn:hover {
    background-color: #EEEEEE;
}

.care_ui .care_btn:hover > span {
    opacity: 1;
}

.care_ui .care_btn:hover:before {
    opacity: 0;
}



/* checked */
.care_ui .mute_box > input[type="checkbox"]:checked + .mute_btn:before {
    width: 32px;
    background-image: url('/H-Connect/img/icon/mic_off.svg');
}


.sure_btn {
    display: inline-block;
}

.check_ex_text{
    font-size: 16px;
}

.modal_footer button{
    height: 48px;
}

.modal_footer a{
    width: 128px;
    line-height: 46px;
}