@charset "utf-8";
#contents_wrap.screening{   
    width: 100%; 
    min-width: 1880px;
}

/* card */
.card {
    flex: 1;
}
.care_card1 {
    position: relative;
}

.care_card2 {
    min-width: 800px;
    flex: 2;
}

.care_card3 {
    min-width: 480px;
}


/* care_card1 */
/* card_header */
.care_card1 .card_header {
    border: none;
    align-items: center;
}

.card_title{color: #000;}
.screening_care .card_title{color: #007A94;}

.care_card1 .card_title {
    background-image: url('/H-Connect/img/doctor/list.svg');
    background-position: left top 6px;
    margin-bottom: 0;
    filter: invert(18%) sepia(66%) saturate(5588%) hue-rotate(179deg) brightness(80%) contrast(101%);
}

.care_card1 .medi_regist_btn {
    background-color: #007A94;
    border-color: #007A94;
    line-height: 38px;
}


.care_card1 .table_box {
    padding: 0 15px;
}

.common_radio .radio[type="checkbox"] {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 1px solid #CCCCCC;
    width: 24px;
    height: 24px;
    /* transition: 0.2s all; */
    border-radius: 4px;
}

.common_radio > .radio[type="checkbox"]:checked {
    background-color: #007A94;
    border-color: #007A94;
    cursor: pointer;
}




/* page_box */
.page_box {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.page_box .page {
    font-size: 14px;
    font-weight: 500;
    color: #CCCCCC;
    /* transition: 0.2s all; */
}

.page_box .page:not(:last-child) {
    margin-right: 10px;
}


.page_box .page.on {
    color: #007A94;
}




/* care_card2 */
.care_card2 {
    display: flex;
}

/* inner_card */
.care_card2 .inner_card {
    position: relative;
    min-width: 368px;
}

.care_card2 .inner_card:not(:last-child) {
    margin-right: 27px;
}

/* inner_card - room_card_header */
.care_card2 .room_card_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 14px;
    height: 64px;
    background: linear-gradient(to right, #004F60, #350039);
    border-radius: 4px;
}

.room_card_header .room_title {
    color: #fff;
    font-weight: 500;
    padding-left: 30px;
    background: url('/H-Connect/img/header/remote.svg') no-repeat left 5px top 5px;
    filter: invert(0%) sepia(78%) saturate(12%) hue-rotate(13deg) brightness(9999%) contrast(999%);
}

.room_card_header .room_radi_box {
    display: flex;
}


/* radi_box */
.radi_box:not(:last-child) {
    margin-right: 10px;
}

.radi_box > input[type="radio"] {
    display: none;
}

.radi_box > label {
    display: block;
    width: 64px;
    text-align: center;
    border-radius: 4px;
    line-height: 24px;
    font-size: 12px;
    border: 1px solid #CCCCCC;
    background-color: #CCCCCC;
    color: #888888;
    /* transition: 0.2s all; */
}

.radi_box > input[type="radio"]:checked + label {
    background-color: #007A94;
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}


/* room_cont_box */
.room_cont_box {
    padding: 30px 10px 10px;
}

.next_table_box {
    margin-bottom: 50px;
}

.table_title {
    color: #007A94;
    font-weight: 500;
}

.next_patient {
    font-weight: 500;
}



.common_table.card2_table tr > td:nth-child(1), 
.common_table.card2_table tr > th:nth-child(1) {
    flex: 2;
}

.common_table.card2_table tr > td:first-child > span, 
.common_table.card2_table tr > th:first-child > span {
    padding-left: 10px;
    text-align: left;
} 

.common_table.card2_table tr > td:last-child > span, 
.common_table.card2_table tr > th:last-child > span {
    text-align: right;
    padding-right: 11px;
}



/* btn_thead */
.btn_thead {
    display: flex;
    align-items: bottom;
    justify-content: right;
    text-align: right;
    padding-right: 10px;
}

/* call_btn */
.btn_thead .call_btn {
    width: 80px;
    margin-right: 10px;
    /* transition: 0.2s all; */
    color: #fff;
    background-color: #007A94;
    border-color: #007A94;
}

.btn_thead .call_btn > span {
    font-size: 12px;
}

.btn_thead .call_btn .cancel {
    display: none;
}

.btn_thead .call_btn .call {
    display: block;
}

/* on */
.btn_thead .call_btn.on {
    background-color: #fff;
    border-color: #940045;
    color: #940045;
}

.btn_thead .call_btn.on .cancel {
    display: block;
    border-radius: 4px;
}

.btn_thead .call_btn.on .call {
    display: none;
}


/* call_doc_btn */
.btn_thead .call_doc_btn {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
    width: 96px;
    line-height: 34px;
    border-radius: 4px;
    color: #EEEEEE;
    text-align: center;
    background: #CCCCCC;
    pointer-events: none;
    /* transition: 0.2s all; */
}

.btn_thead .call_doc_btn > span {
    background: url('/H-Connect/img/logo.svg') no-repeat left 12px top 10px;
    display: block;
    padding-left: 20px;
    color: #000;
    filter: invert(176%) sepia(76%) saturate(369%) hue-rotate(246deg) brightness(194%) contrast(100%);
}

/* on */
.btn_thead .call_doc_btn.on {
    pointer-events: auto;
    background: linear-gradient(to right, #004F60, #350039);
    color: #fff;
}


/* td_btn */
.td_btn {
    background: none;
    margin-right: 4px;
    font-size: 12px;
    color: #940045;
}


/* bot_table */
.common_table.bot_table tr > td:nth-child(1), 
.common_table.bot_table tr > th:nth-child(1) {
    flex: 3;
}

.common_table.bot_table tr > td:first-child > span {
    display: flex;
    align-items: center;
}

.wait_name {
    margin-right: 20px;
}

.upDown {
    width: 12px;
    height: 12px;
    background: url('/H-Connect/img/under_arrow.svg') no-repeat center;
    filter: invert(0%) sepia(0%) saturate(7496%) hue-rotate(235deg) brightness(-56%) contrast(118%);
}

/* .up {
    margin-top: -7px;
} */

.up {
    /* margin-top: 4px; */
    margin-right: 16px;
    transform: rotate(180deg);
}

.inner_card .page_box {
    bottom: 10px;
}


/* care_card3 */
.care_card3 {
 padding: 32px 0 0;
}

.care_card3 h2{color: #007A94; font-size: 16px;}

.care_card3 .card_header {
    padding: 0 32px 24px;
    border: none;
}


.left_bar a{
    width: 100%;
    height: 100%;
    display: block;
}

/* mess_text_box */
.mess_text_box {
    height: 453px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.chat_container{
    height: 454px;
    display: flex;
    justify-content: space-between;
    background: #C5D8DC;
}

.timeLine{
    width: 32px;
    height: 100%;
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
}

.timeLine a{
    width: 12px;
    margin-bottom: 8px;
    background: #007A94;
    display: block;
}

.timeLine> :nth-child(2n-1){
    background: #eee;
}

.timeLine> :last-child{
    margin: 0;
}

.timeLine .first{
    /* height: 140px; */
    flex: 2;
}

.timeLine .second{
    /* height: 40px; */
    flex: 3;
}

.timeLine .third{
    /* height: 80px; */
    flex: 1;
}

.timeLine .fourth{
    /* height: 60px; */
    flex: 2;
}

.timeLine .fifth{
    /* height: 72px; */
    flex: 1;
}

.chat_inner{
    width: calc(100% - 32px);
    height: 445px;
    padding: 8px 20px;
    background: #C5D8DC;
    overflow-y: scroll;
}

.chat_inner::-webkit-scrollbar{
    width: 8px;
}

.chat_inner::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #007A94;
}

.chat_me{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
}

.chat_me p{
    font-size: 14px;
    font-weight: normal;
}

.chat_me .bubble{
    position: relative;
    width: fit-content;
    padding: 14px 16px;
	background: #940045;
	border-radius: .4em;
    color: #fff;
}

.chat_me .bubble:after{
    content: '';
    position: absolute;
    right: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #940045;
    border-right: 0;
    margin-top: -8px;
    margin-right: -8px;
}

.chat_me .bubble{
	background: #007A94;
}

.chat_me .bubble:after{
    content: '';
    position: absolute;
    right: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #007A94;
    border-right: 0;
    margin-top: -8px;
    margin-right: -8px;
}

.chat_you{
    width: 100%;
    margin-bottom: 16px;
}

.chat_you> p{
    font-size: 12px;
}

.chat_you .bubble{
    margin: 7px 0;
    position: relative;
    width: fit-content;
    padding: 14px 16px;
	background: #fff;
	border-radius: .4em;
    color: #000;
}

.chat_you .bubble:after{
    content: '';
    position: absolute;
    left: 0;
    top: 40%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #fff;
    border-left: 0;
    margin-top: -8px;
    margin-left: -8px;
}

.start_clinic{
    height: 48px;
    margin: 0 auto 16px;
    padding: 14px 32px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #007A94, #003D4A);
    border-radius: 4px;
    color: #fff;
}

.start_clinic p{
    font-size: 14px;
    font-weight: normal;
}

.end_clinic{
    height: 48px;
    margin: 0 auto 16px;
    padding: 14px 32px;
    display: flex;
    justify-content: space-between;
    background: #eee;
    border-radius: 4px;
}

.end_clinic p{
    font-size: 14px;
    font-weight: normal;
}


.message_list, .message_talk{display: block;}
.select_medi, .send_message{display: none;}

.data_modal .modal_header{
    margin-bottom: 31px;
}

.modal_form{padding-top: 0;}

.check_ex_text{font-size: 16px;}